.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.tab{
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(226, 61, 1, 0.59);
  padding: 2px 5px;
  border-radius: 4px;
  color: #5d294f;
  font-weight: 600;
  margin: 0 3px;
  &:hover{
    background-color: rgba(226, 61, 1, 0.35);
  }
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {

}

/**/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/**/

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
